aiosqlite==0.19.0 ; python_full_version == "3.11.5"
datetime==5.4 ; python_full_version == "3.11.5"
pytz==2024.1 ; python_full_version == "3.11.5"
setuptools==69.0.3 ; python_full_version == "3.11.5"
zope-interface==6.1 ; python_full_version == "3.11.5"
